.btn{
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-background-color: rgba(92, 200, 246, 1);
   }
.btn:hover{
    -fx-text-fill:white ;
    -fx-background-color: #FFD02D;
    -fx-background-radius: 30;
    -fx-border-radius: 30;

}