.btn {
    -fx-background-color: rgb(92, 200, 246);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.body {
    -fx-background-size: contain, contain, contain, contain, contain, contain;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image: url("https://drive.google.com/file/d/1OimlX-7_QjiWLkbNgW7ft_v9dSYO8bNY/view?usp=sharing");
}


.txtBox {
    -fx-background-color: rgba(255, 208, 45, 0.5);
    -fx-prompt-text-fill: rgba(255, 255, 255);
    -fx-text-fill: rgba(255, 255, 255);
}

